### Kreiranje pogosto skupaj kupljenih parov izdelkov in testne množice

<br>

### 1. Uvoz in filtriranje podatkov

In [1]:
# Uvoz knjižnic
import pandas as pd
import numpy as np

from itertools import combinations, groupby
from collections import Counter

In [2]:
orders = pd.read_csv('../data/orders.csv')[['order_id', 'user_id', 'eval_set', 'order_number']]
orders.head()

   order_id  user_id eval_set  order_number
0   2539329        1    prior             1
1   2398795        1    prior             2
2    473747        1    prior             3
3   2254736        1    prior             4
4    431534        1    prior             5

In [3]:
order_products_prior = pd.read_csv('../data/order_products__prior.csv')[['order_id', 'product_id']]
order_products_prior.head()

   order_id  product_id
0         2       33120
1         2       28985
2         2        9327
3         2       45918
4         2       30035

In [4]:
order_products_train = pd.read_csv('../data/order_products__train.csv')[['order_id', 'product_id']]
order_products_train.head()

   order_id  product_id
0         1       49302
1         1       11109
2         1       10246
3         1       49683
4         1       43633

In [5]:
len(order_products_prior) + len(order_products_train)

33819106

In [6]:
# Ponekod zadnje naročilo pripada množici `test`, ki za našo implementacijo ni relavantna,
# saj je ta del tekmovanja Kaggla
orders = orders[orders['eval_set'] != 'test']

In [7]:
# Vsa zadnja naročila, kjer je ponekod potrebno oznako `prior` spremeniti na `train`
# Istočasno je potrebno ta naročila prestaviti iz tabele `order_products_prior` v tabelo `order_products_train`
last_orders = orders.groupby('user_id').tail(1)

In [8]:
orders['eval_set'] = orders['order_id'].isin(last_orders['order_id']).replace({True: 'train', False: 'prior'})

In [9]:
# Omenjena naročila (spodaj) je potrebno prenesti
orders_to_move = last_orders[last_orders['eval_set'] == 'prior']['order_id']
orders_to_move.head()

37     1402502
43     2557754
52      998866
95     1468214
101     221248
Name: order_id, dtype: int64

In [10]:
df_to_move = order_products_prior[order_products_prior['order_id'].isin(orders_to_move)]
df_to_move.head()

     order_id  product_id
404        51       30274
405        51        3594
406        51       14994
407        51       45433
408        51       44514

In [11]:
# Zgornjo tabelo dodamo tabeli `order_products_train`...
order_products_train = order_products_train.append(df_to_move, ignore_index=True)

# ... in jo odstranimo iz tabele `order_products_prior`
order_products_prior = order_products_prior[~order_products_prior['order_id'].isin(orders_to_move)]

# Sprostitev pomnilnika
del orders_to_move, df_to_move

# Vsota velikosti obeh tabel je enaka začetni
len(order_products_prior) + len(order_products_train)

33819106

<br>

### 2. Delitev podatkov na učno in testno množico

In [12]:
# 90 % uporabnikov predstavlja učna množica
# 10 % uporabnikov predstavlja testna množica
users = orders['user_id'].unique()
users_mask = np.random.rand(len(users)) > 0.1
orders_train = orders[orders['user_id'].isin(users[users_mask])]
orders_test = orders[orders['user_id'].isin(users[~users_mask])]

In [13]:
del orders, users, users_mask

In [14]:
len(orders_train) / len(orders_test)

8.978299377340935

In [15]:
orders_train.head()

   order_id  user_id eval_set  order_number
0   2539329        1    prior             1
1   2398795        1    prior             2
2    473747        1    prior             3
3   2254736        1    prior             4
4    431534        1    prior             5

In [ ]:
# Shranjevanje testne množice izdelkov v datoteko orders_test.csv, saj je pare izdelkov bilo
# potrebno implementirati v 2 datotekah, sicer je sledila napaka `MemoryError`
orders_test.to_csv('../data/orders_test.csv', index=False)

<br>

### 3. Najpogostejši pari izdelkov

In [16]:
# Potrebujemo pare: naročilo - izdelek
orders_to_process = orders_train.merge(order_products_prior.merge(order_products_train, how='outer'))[['order_id', 'product_id']] # 28 480 438
orders_to_process.head()

   order_id  product_id
0   2539329         196
1   2539329       14084
2   2539329       12427
3   2539329       26088
4   2539329       26405

In [17]:
# Pretvorba zgorje tabele v matriko števil
orders_matrix = orders_to_process.values
orders_matrix

array([[2539329,     196],
       [2539329,   14084],
       [2539329,   12427],
       ...,
       [ 272231,   42606],
       [ 272231,   37966],
       [ 272231,   39216]], dtype=int64)

In [18]:
# Funkcija, ki vrne vse možne pare izdelkov, podanih v obliki matrike
def product_pairs(orders_matrix):
    for order_id, order in groupby(orders_matrix, lambda x: x[0]):
        # Vsi izdelki določenega naročila
        products = [product[1] for product in order]
        
        # Generiranje vseh parov izdelkov
        pairs = combinations(products, 2)
        for pair in pairs:
            yield pair

In [19]:
# Pari produktov 
pairs = product_pairs(orders_matrix)

In [20]:
# Števec parov produktov
pairs_count = Counter(pairs)

In [21]:
pairs_count

Counter({(196, 14084): 56,
         (196, 12427): 502,
         (196, 26088): 90,
         (196, 26405): 47,
         (14084, 12427): 8,
         (14084, 26088): 13,
         (14084, 26405): 2,
         (12427, 26088): 42,
         (12427, 26405): 15,
         (26088, 26405): 3,
         (196, 10258): 210,
         (196, 13176): 1379,
         (196, 13032): 294,
         (10258, 12427): 57,
         (10258, 13176): 90,
         (10258, 26088): 13,
         (10258, 13032): 26,
         (12427, 13176): 374,
         (12427, 13032): 67,
         (13176, 26088): 286,
         (13176, 13032): 314,
         (26088, 13032): 18,
         (196, 25133): 38,
         (196, 30450): 226,
         (12427, 10258): 52,
         (12427, 25133): 18,
         (12427, 30450): 80,
         (10258, 25133): 6,
         (10258, 30450): 42,
         (25133, 30450): 50,
         (10258, 26405): 3,
         (25133, 26405): 3,
         (196, 10326): 120,
         (196, 17122): 402,
         (196, 41787): 183,
         (12427, 10326): 76,
         (12427, 17122): 127,
         (12427, 41787): 68,
         (10258, 10326): 23,
         (10258, 17122): 33,
         (10258, 41787): 33,
         (25133, 10326): 19,
         (25133, 17122): 9,
         (25133, 41787): 35,
         (25133, 13176): 383,
         (10326, 17122): 18,
         (10326, 41787): 102,
         (10326, 13176): 503,
         (17122, 41787): 180,
         (17122, 13176): 743,
         (41787, 13176): 1181,
         (25133, 13032): 10,
         (12427, 196): 358,
         (12427, 46149): 172,
         (12427, 49235): 107,
         (196, 46149): 2193,
         (196, 49235): 586,
         (10258, 46149): 48,
         (10258, 49235): 50,
         (25133, 46149): 13,
         (25133, 49235): 201,
         (46149, 49235): 193,
         (49235, 46149): 241,
         (49235, 25133): 150,
         (49235, 196): 655,
         (49235, 10258): 56,
         (49235, 12427): 107,
         (46149, 25133): 17,
         (46149, 196): 1381,
         (46149, 10258): 66,
         (46149, 12427): 170,
         (25133, 196): 17,
         (25133, 10258): 8,
         (25133, 12427): 6,
         (196, 39657): 517,
         (196, 38928): 1123,
         (196, 35951): 109,
         (46149, 39657): 245,
         (46149, 38928): 317,
         (46149, 35951): 27,
         (46149, 13032): 69,
         (39657, 38928): 256,
         (39657, 25133): 11,
         (39657, 10258): 139,
         (39657, 35951): 37,
         (39657, 13032): 48,
         (39657, 12427): 216,
         (38928, 25133): 50,
         (38928, 10258): 160,
         (38928, 35951): 114,
         (38928, 13032): 240,
         (38928, 12427): 383,
         (25133, 35951): 144,
         (10258, 35951): 20,
         (35951, 13032): 40,
         (35951, 12427): 29,
         (13032, 12427): 29,
         (196, 27845): 47,
         (25133, 38928): 16,
         (25133, 39657): 5,
         (25133, 26088): 5,
         (25133, 27845): 229,
         (38928, 26405): 19,
         (38928, 39657): 328,
         (38928, 26088): 106,
         (38928, 27845): 64,
         (38928, 49235): 403,
         (38928, 46149): 326,
         (26405, 39657): 11,
         (26405, 10258): 5,
         (26405, 13032): 5,
         (26405, 26088): 5,
         (26405, 27845): 8,
         (26405, 49235): 11,
         (26405, 46149): 6,
         (39657, 26088): 48,
         (39657, 27845): 17,
         (39657, 49235): 127,
         (39657, 46149): 193,
         (10258, 27845): 4,
         (13032, 26088): 21,
         (13032, 27845): 7,
         (13032, 49235): 51,
         (13032, 46149): 34,
         (26088, 27845): 35,
         (26088, 49235): 43,
         (26088, 46149): 20,
         (27845, 49235): 3519,
         (27845, 46149): 33,
         (32792, 47766): 42,
         (32792, 20574): 7,
         (32792, 12000): 4,
         (32792, 48110): 8,
         (32792, 22474): 9,
         (32792, 16589): 12,
         (32792, 35917): 1,
         (32792, 27344): 26,
         (32792, 30489): 12,
         (32792, 27966): 21,
         (32792, 13176): 44,
         (32792, 45066): 37,
         (47766, 20574): 1032,
         (47766, 12000): 70,
         (47766, 48110): 173,
         (47766, 22474): 723,
         (47766, 16589): 326,
         (47766, 35917): 11,
         (47766, 27344): 1780,
         (47766, 30489): 4809,
         (47766, 27966): 4952,
         (47766, 13176): 8360,
         (47766, 45066): 5911,
         (20574, 12000): 3,
         (20574, 48110): 31,
         (20574, 22474): 75,
         (20574, 16589): 18,
         (20574, 35917): 1,
         (20574, 27344): 130,
         (20574, 30489): 319,
         (20574, 27966): 255,
         (20574, 13176): 533,
         (20574, 45066): 356,
         (12000, 48110): 3,
         (12000, 22474): 8,
         (12000, 16589): 8,
         (12000, 35917): 1,
         (12000, 27344): 10,
         (12000, 30489): 21,
         (12000, 27966): 53,
         (12000, 13176): 85,
         (12000, 45066): 19,
         (48110, 22474): 10,
         (48110, 16589): 8,
         (48110, 35917): 1,
         (48110, 27344): 19,
         (48110, 30489): 71,
         (48110, 27966): 106,
         (48110, 13176): 179,
         (48110, 45066): 57,
         (22474, 16589): 17,
         (22474, 35917): 2,
         (22474, 27344): 187,
         (22474, 30489): 238,
         (22474, 27966): 243,
         (22474, 13176): 507,
         (22474, 45066): 237,
         (16589, 35917): 5,
         (16589, 27344): 114,
         (16589, 30489): 176,
         (16589, 27966): 210,
         (16589, 13176): 401,
         (16589, 45066): 133,
         (35917, 27344): 6,
         (35917, 30489): 7,
         (35917, 27966): 10,
         (35917, 13176): 16,
         (35917, 45066): 5,
         (27344, 30489): 1152,
         (27344, 27966): 1500,
         (27344, 13176): 2141,
         (27344, 45066): 819,
         (30489, 27966): 2680,
         (30489, 13176): 3484,
         (30489, 45066): 1636,
         (27966, 13176): 13871,
         (27966, 45066): 2521,
         (13176, 45066): 7262,
         (16797, 47526): 153,
         (16797, 8479): 271,
         (16797, 47766): 4591,
         (16797, 19051): 125,
         (16797, 8138): 327,
         (47526, 8479): 35,
         (47526, 47766): 222,
         (47526, 19051): 1,
         (47526, 8138): 14,
         (8479, 47766): 115,
         (8479, 19051): 16,
         (8479, 8138): 19,
         (47766, 19051): 164,
         (47766, 8138): 982,
         (19051, 8138): 51,
         (47766, 32792): 45,
         (47766, 7781): 1705,
         (47766, 28874): 34,
         (32792, 7781): 10,
         (32792, 28874): 1,
         (20574, 7781): 172,
         (20574, 28874): 1,
         (7781, 28874): 9,
         (49451, 32792): 3,
         (49451, 32139): 4,
         (49451, 34688): 3,
         (49451, 36735): 3,
         (49451, 37646): 8,
         (49451, 22829): 4,
         (49451, 24852): 23,
         (49451, 47209): 26,
         (49451, 33276): 2,
         (49451, 45613): 5,
         (49451, 9681): 2,
         (49451, 21150): 3,
         (32792, 32139): 4,
         (32792, 34688): 4,
         (32792, 36735): 12,
         (32792, 37646): 21,
         (32792, 22829): 2,
         (32792, 24852): 91,
         (32792, 47209): 32,
         (32792, 33276): 2,
         (32792, 45613): 8,
         (32792, 9681): 2,
         (32792, 21150): 8,
         (32139, 34688): 3,
         (32139, 36735): 20,
         (32139, 37646): 98,
         (32139, 22829): 3,
         (32139, 24852): 390,
         (32139, 47209): 229,
         (32139, 33276): 4,
         (32139, 45613): 8,
         (32139, 9681): 1,
         (32139, 21150): 4,
         (34688, 36735): 32,
         (34688, 37646): 46,
         (34688, 22829): 1,
         (34688, 24852): 166,
         (34688, 47209): 129,
         (34688, 33276): 1,
         (34688, 45613): 7,
         (34688, 9681): 3,
         (34688, 21150): 1,
         (36735, 37646): 262,
         (36735, 22829): 3,
         (36735, 24852): 594,
         (36735, 47209): 694,
         (36735, 33276): 3,
         (36735, 45613): 22,
         (36735, 9681): 6,
         (36735, 21150): 19,
         (37646, 22829): 45,
         (37646, 24852): 4622,
         (37646, 47209): 4747,
         (37646, 33276): 3,
         (37646, 45613): 91,
         (37646, 9681): 13,
         (37646, 21150): 44,
         (22829, 24852): 54,
         (22829, 47209): 52,
         (22829, 33276): 3,
         (22829, 45613): 5,
         (22829, 9681): 1,
         (22829, 21150): 1,
         (24852, 47209): 19344,
         (24852, 33276): 16,
         (24852, 45613): 714,
         (24852, 9681): 176,
         (24852, 21150): 492,
         (47209, 33276): 19,
         (47209, 45613): 312,
         (47209, 9681): 59,
         (47209, 21150): 149,
         (33276, 45613): 1,
         (33276, 9681): 1,
         (33276, 21150): 1,
         (45613, 9681): 21,
         (45613, 21150): 54,
         (9681, 21150): 11,
         (47144, 5322): 133,
         (47144, 17224): 116,
         (47144, 38656): 87,
         (47144, 21376): 142,
         (47144, 48210): 17,
         (47144, 5907): 9,
         (47144, 14553): 47,
         (47144, 47553): 9,
         (47144, 22124): 155,
         (47144, 19156): 105,
         (47144, 1559): 74,
         (47144, 47766): 1358,
         (5322, 17224): 1101,
         (5322, 38656): 1041,
         (5322, 21376): 95,
         (5322, 48210): 28,
         (5322, 5907): 2,
         (5322, 14553): 16,
         (5322, 47553): 12,
         (5322, 22124): 39,
         (5322, 19156): 66,
         (5322, 1559): 39,
         (5322, 47766): 228,
         (17224, 38656): 671,
         (17224, 21376): 98,
         (17224, 48210): 25,
         (17224, 5907): 7,
         (17224, 14553): 13,
         (17224, 47553): 6,
         (17224, 22124): 34,
         (17224, 19156): 54,
         (17224, 1559): 31,
         (17224, 47766): 192,
         (38656, 21376): 50,
         (38656, 48210): 15,
         (38656, 5907): 6,
         (38656, 14553): 5,
         (38656, 47553): 4,
         (38656, 22124): 30,
         (38656, 19156): 22,
         (38656, 1559): 12,
         (38656, 47766): 147,
         (21376, 48210): 9,
         (21376, 5907): 2,
         (21376, 14553): 14,
         (21376, 47553): 6,
         (21376, 22124): 68,
         (21376, 19156): 32,
         (21376, 1559): 30,
         (21376, 47766): 407,
         (48210, 5907): 85,
         (48210, 14553): 7,
         (48210, 47553): 1,
         (48210, 22124): 5,
         (48210, 19156): 6,
         (48210, 1559): 3,
         (48210, 47766): 28,
         (5907, 14553): 1,
         (5907, 47553): 1,
         (5907, 22124): 1,
         (5907, 19156): 3,
         (5907, 1559): 1,
         (5907, 47766): 16,
         (14553, 47553): 1,
         (14553, 22124): 11,
         (14553, 19156): 9,
         (14553, 1559): 17,
         (14553, 47766): 64,
         (47553, 22124): 1,
         (47553, 19156): 3,
         (47553, 1559): 1,
         (47553, 47766): 7,
         (22124, 19156): 1664,
         (22124, 1559): 1126,
         (22124, 47766): 506,
         (19156, 1559): 434,
         (19156, 47766): 189,
         (1559, 47766): 250,
         (32792, 32052): 5,
         (32792, 46676): 7,
         (32792, 33754): 22,
         (32792, 17872): 6,
         (32792, 18523): 21,
         (32792, 24954): 8,
         (32792, 4957): 14,
         (32792, 40571): 15,
         (32792, 41787): 12,
         (32792, 19051): 3,
         (12000, 9681): 1,
         (12000, 32139): 6,
         (12000, 32052): 3,
         (12000, 24852): 38,
         (12000, 47209): 59,
         (12000, 36735): 5,
         (12000, 46676): 2,
         (12000, 33754): 3,
         (12000, 17872): 5,
         (12000, 18523): 3,
         (12000, 24954): 1,
         (12000, 4957): 2,
         (12000, 40571): 2,
         (12000, 41787): 5,
         (12000, 19051): 2,
         (12000, 33276): 2,
         (9681, 32139): 2,
         (9681, 32052): 1,
         (9681, 27344): 15,
         (9681, 24852): 62,
         (9681, 45066): 35,
         (9681, 27966): 18,
         (9681, 47209): 33,
         (9681, 36735): 6,
         (9681, 46676): 3,
         (9681, 33754): 11,
         (9681, 17872): 7,
         (9681, 18523): 5,
         (9681, 24954): 1,
         (9681, 4957): 4,
         (9681, 40571): 9,
         (9681, 41787): 12,
         (9681, 19051): 3,
         (9681, 33276): 1,
         (32139, 32052): 6,
         (32139, 27344): 61,
         (32139, 45066): 123,
         (32139, 27966): 124,
         (32139, 46676): 44,
         (32139, 33754): 34,
         (32139, 17872): 21,
         (32139, 18523): 27,
         (32139, 24954): 6,
         (32139, 4957): 26,
         (32139, 40571): 57,
         (32139, 41787): 53,
         (32139, 19051): 4,
         (32052, 27344): 39,
         (32052, 24852): 197,
         (32052, 45066): 72,
         (32052, 27966): 109,
         (32052, 47209): 188,
         (32052, 36735): 27,
         (32052, 46676): 25,
         (32052, 33754): 40,
         (32052, 17872): 12,
         (32052, 18523): 26,
         (32052, 24954): 24,
         (32052, 4957): 15,
         (32052, 40571): 21,
         (32052, 41787): 16,
         (32052, 19051): 4,
         (32052, 33276): 1,
         (27344, 24852): 2394,
         (27344, 47209): 2017,
         (27344, 36735): 415,
         (27344, 46676): 185,
         (27344, 33754): 288,
         (27344, 17872): 127,
         (27344, 18523): 232,
         (27344, 24954): 97,
         (27344, 4957): 176,
         (27344, 40571): 188,
         (27344, 41787): 291,
         (27344, 19051): 28,
         (27344, 33276): 4,
         (24852, 45066): 19202,
         (24852, 27966): 14636,
         (24852, 36735): 1556,
         (24852, 46676): 4378,
         (24852, 33754): 5284,
         (24852, 17872): 2741,
         (24852, 18523): 4211,
         (24852, 24954): 1842,
         (24852, 4957): 3693,
         (24852, 40571): 3127,
         (24852, 41787): 9854,
         (24852, 19051): 572,
         (45066, 27966): 2179,
         (45066, 47209): 3340,
         (45066, 36735): 223,
         (45066, 46676): 644,
         (45066, 33754): 664,
         (45066, 17872): 408,
         (45066, 18523): 596,
         (45066, 24954): 271,
         (45066, 4957): 570,
         (45066, 40571): 491,
         (45066, 41787): 1901,
         (45066, 19051): 85,
         (45066, 33276): 9,
         (27966, 47209): 11460,
         (27966, 36735): 719,
         (27966, 46676): 921,
         (27966, 33754): 1092,
         (27966, 17872): 641,
         (27966, 18523): 709,
         (27966, 24954): 372,
         (27966, 4957): 761,
         (27966, 40571): 613,
         (27966, 41787): 997,
         (27966, 19051): 60,
         (27966, 33276): 13,
         (47209, 36735): 1190,
         (47209, 46676): 1378,
         (47209, 33754): 1383,
         (47209, 17872): 1065,
         (47209, 18523): 1043,
         (47209, 24954): 433,
         (47209, 4957): 969,
         (47209, 40571): 767,
         (47209, 41787): 1371,
         (47209, 19051): 81,
         (36735, 46676): 99,
         (36735, 33754): 98,
         (36735, 17872): 39,
         (36735, 18523): 70,
         (36735, 24954): 28,
         (36735, 4957): 81,
         (36735, 40571): 55,
         (36735, 41787): 67,
         (36735, 19051): 2,
         (46676, 33754): 725,
         (46676, 17872): 86,
         (46676, 18523): 479,
         (46676, 24954): 665,
         (46676, 4957): 578,
         (46676, 40571): 358,
         (46676, 41787): 258,
         (46676, 19051): 24,
         (46676, 33276): 3,
         (33754, 17872): 261,
         (33754, 18523): 3090,
         (33754, 24954): 970,
         (33754, 4957): 5162,
         (33754, 40571): 3090,
         (33754, 41787): 434,
         (33754, 19051): 32,
         (33754, 33276): 9,
         (17872, 18523): 166,
         (17872, 24954): 53,
         (17872, 4957): 148,
         (17872, 40571): 105,
         (17872, 41787): 151,
         (17872, 19051): 20,
         (17872, 33276): 1,
         (18523, 24954): 628,
         (18523, 4957): 2068,
         (18523, 40571): 1725,
         (18523, 41787): 342,
         (18523, 19051): 35,
         (18523, 33276): 2,
         (24954, 4957): 746,
         (24954, 40571): 636,
         (24954, 41787): 142,
         (24954, 19051): 25,
         (24954, 33276): 1,
         (4957, 40571): 2627,
         (4957, 41787): 317,
         (4957, 19051): 26,
         (4957, 33276): 3,
         (40571, 41787): 252,
         (40571, 19051): 20,
         (40571, 33276): 1,
         (41787, 19051): 42,
         (41787, 33276): 2,
         (19051, 33276): 1,
         (32792, 46886): 10,
         (32792, 40198): 8,
         (32792, 17758): 7,
         (12000, 46886): 3,
         (12000, 40198): 6,
         (12000, 17758): 4,
         (12000, 34688): 1,
         (16589, 32052): 12,
         (16589, 19051): 15,
         (16589, 32139): 5,
         (16589, 47209): 323,
         (16589, 24852): 437,
         (16589, 46886): 18,
         (16589, 40198): 21,
         (16589, 17758): 27,
         (16589, 41787): 43,
         (16589, 34688): 4,
         (32052, 32139): 3,
         (32052, 46886): 5,
         (32052, 40198): 5,
         (32052, 17758): 6,
         (32052, 34688): 3,
         (19051, 32139): 4,
         (19051, 47209): 48,
         (19051, 24852): 188,
         (19051, 46886): 6,
         (19051, 40198): 5,
         (19051, 17758): 6,
         (19051, 45066): 42,
         (19051, 41787): 18,
         (19051, 34688): 1,
         (32139, 46886): 4,
         (32139, 40198): 12,
         (32139, 17758): 7,
         (47209, 24852): 9689,
         (47209, 46886): 512,
         (47209, 40198): 565,
         (47209, 17758): 503,
         (47209, 45066): 4279,
         (47209, 34688): 122,
         (24852, 46886): 1189,
         (24852, 40198): 1414,
         (24852, 17758): 1470,
         (24852, 34688): 271,
         (46886, 40198): 1363,
         (46886, 17758): 800,
         (46886, 45066): 128,
         (46886, 41787): 94,
         (46886, 34688): 14,
         (40198, 17758): 1104,
         (40198, 45066): 176,
         (40198, 41787): 85,
         (40198, 34688): 19,
         (17758, 45066): 175,
         (17758, 41787): 93,
         (17758, 34688): 13,
         (45066, 34688): 46,
         (41787, 34688): 7,
         (32792, 28918): 4,
         (32792, 22963): 10,
         (32792, 23): 2,
         (32792, 20084): 1,
         (32792, 2002): 6,
         (32792, 5212): 8,
         (32792, 14306): 2,
         (28918, 24852): 95,
         (28918, 34688): 1,
         (28918, 48110): 4,
         (28918, 47209): 125,
         (28918, 32052): 1,
         (28918, 17758): 6,
         (28918, 40198): 5,
         (28918, 46886): 3,
         (28918, 22963): 11,
         (28918, 23): 1,
         (28918, 20084): 9,
         (28918, 2002): 1,
         (28918, 5212): 26,
         (28918, 14306): 1,
         (24852, 48110): 333,
         (24852, 32052): 571,
         (24852, 22963): 3560,
         (24852, 23): 139,
         (24852, 20084): 215,
         (24852, 2002): 318,
         (24852, 5212): 3857,
         (24852, 14306): 60,
         (34688, 48110): 4,
         (34688, 32052): 2,
         (34688, 17758): 13,
         (34688, 40198): 22,
         (34688, 46886): 7,
         (34688, 22963): 24,
         (34688, 23): 1,
         (34688, 20084): 3,
         (34688, 2002): 3,
         (34688, 5212): 26,
         (34688, 14306): 1,
         (48110, 47209): 130,
         (48110, 32052): 11,
         (48110, 17758): 7,
         (48110, 40198): 12,
         (48110, 46886): 7,
         (48110, 22963): 35,
         (48110, 23): 4,
         (48110, 20084): 1,
         (48110, 2002): 7,
         (48110, 5212): 18,
         (48110, 14306): 1,
         (47209, 32052): 385,
         (47209, 22963): 3071,
         (47209, 23): 97,
         (47209, 20084): 186,
         (47209, 2002): 314,
         (47209, 5212): 1834,
         (47209, 14306): 45,
         (32052, 22963): 40,
         (32052, 23): 3,

In [22]:
# Tabela, ki prikazuje pare izdelkov, skupaj s frekvenco skupne pojavitve
pairs = pd.Series(pairs_count).to_frame('count').reset_index()
pairs.columns = ['product_one', 'product_two', 'count']

In [35]:
del pairs_count

In [23]:
pairs.head()

   product_one  product_two  count
0          196        14084     56
1          196        12427    502
2          196        26088     90
3          196        26405     47
4        14084        12427      8

In [24]:
pairs[(pairs['product_one'] == 196) & (pairs['product_two'] == 14084)]

   product_one  product_two  count
0          196        14084     56

In [25]:
pairs[(pairs['product_one'] == 14084) & (pairs['product_two'] == 196)]

        product_one  product_two  count
733790        14084          196     40

#### 3.1 Popravek parov

In [33]:
# Obstaja možnost, da se par pojavi v dveh različnih vrstnih redih (primer zgoraj)
# To popravimo
pairs['product_one'] = pairs['product_one'].agg(lambda x: str(x))
pairs['product_two'] = pairs['product_two'].agg(lambda x: str(x))
pairs['combine'] = pairs['product_one'] + ' ' + pairs['product_two']
pairs.head()

  product_one product_two  count      combine
0         196       14084     56    196 14084
1         196       12427    502    196 12427
2         196       26088     90    196 26088
3         196       26405     47    196 26405
4       14084       12427      8  14084 12427

In [1]:
pairs['combine'] = pairs['combine'].agg(lambda x: ' '.join(set(x.split(' '))))

In [2]:
pairs = pairs.groupby('combine').sum().reset_index()[['combine', 'count']]

In [4]:
pairs['product_one'] = pairs['combine'].agg(lambda x: x.split(' ')[0])
pairs['product_two'] = pairs['combine'].agg(lambda x: x.split(' ')[1])
pairs = pairs[['product_one', 'product_two', 'count']].astype('int64')

In [5]:
pairs = pairs.sort_values(by='count', ascending=False).reset_index(drop=True)

In [6]:
# Shranjevanje parov izdelkov v datoteko pairs.csv
pairs.to_csv('../data/pairs.csv', index=False)

<br>

### Priporočilni sistem z uporabo pogostosti parov izdelkov, ustvarjen v tej datoteki, je implementiran v datoteki `2_Priporočilni_sistem.ipynb`.